Repository nagyesta/abort-mission: changes, and which Codecov flags are due for each by the changed paths.
All: core, cucumber, junit4, jupiter, testng, testkit, flighteval

Updating dependency checksums {patch} (#1028)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1029)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1035)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1038)
  gradle/verification-metadata.xml
Due: none

Triggering a release {patch}
  .release-trigger
Due: none

Triggering a release {patch} (#1050)
  .release-trigger
Due: none

Updating dependency checksums {patch} (#1058)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1061)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1067)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1069)
  gradle/verification-metadata.xml
Due: none

Maintenance - Reformat Markdown files - Remove unnecessary parameter from release trigger workflow - Reformat workflows
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/release-trigger.yml
  .github/workflows/scorecard.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  boosters/booster-cucumber-jvm/README.md
  boosters/booster-junit-jupiter/README.md
  boosters/booster-junit4/README.md
  boosters/booster-testng/README.md
  boosters/testkit/README.md
  mission-control/README.md
  pull_request_template.md
Due: core, cucumber, junit4, jupiter, testng, testkit

Maintenance (#1071)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/release-trigger.yml
  .github/workflows/scorecard.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  boosters/booster-cucumber-jvm/README.md
  boosters/booster-junit-jupiter/README.md
  boosters/booster-junit4/README.md
  boosters/booster-testng/README.md
  boosters/testkit/README.md
  mission-control/README.md
  pull_request_template.md
Due: core, cucumber, junit4, jupiter, testng, testkit

Maintenance - Migrate Checkstyle configuration - Fix new findings
  .github/ISSUE_TEMPLATE/feature_request.md
  boosters/booster-junit-jupiter/src/test/java/com/github/nagyesta/abortmission/booster/jupiter/extractor/TagDependencyNameExtractorTest.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/extractor/GroupDependencyNameExtractorTest.java
  config/checkstyle/checkstyle.xml
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/matcher/impl/AndMatcherTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/matcher/impl/BaseCombiningMatcherTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/matcher/impl/DependencyMatcherTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/matcher/impl/MissionHealthCheckMatcherBuilderTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/matcher/impl/NotMatcherTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/StageTimeMeasurementTest.java
Due: core, jupiter, testng

Triggering a release {patch} (#1075)
  .release-trigger
Due: none

Update build.gradle.kts
  boosters/booster-cucumber-jvm/build.gradle.kts
Due: cucumber

Updating dependency checksums {patch} (#1082)
  gradle/verification-metadata.xml
Due: none

Update build.gradle.kts
  boosters/testkit/build.gradle.kts
Due: testkit

Updating dependency checksums {patch} (#1092)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1096)
  gradle/verification-metadata.xml
Due: none

Triggering a release {patch} (#1101)
  .release-trigger
Due: none

Updating dependency checksums {patch} (#1104)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1112)
  gradle/verification-metadata.xml
Due: none

chore: Attempt Maven Central migration - Migrate configuration to Maven Central
  build.gradle.kts
  mission-report/flight-evaluation-report/node/package-lock.json
Due: flighteval

Path conditions:
  core: any of: mission-control
  cucumber: any of: boosters/booster-cucumber-jvm
  junit4: any of: boosters/booster-junit4
  jupiter: any of: boosters/booster-junit-jupiter
  testng: any of: boosters/booster-testng
  testkit: any of: boosters/testkit
  flighteval: any of: mission-report/flight-evaluation-report
