Repository nagyesta/abort-mission: changes, and which Codecov flags are due for each by the changed paths.
All: core, cucumber, junit4, jupiter, testng, testkit, flighteval

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    project:
      default:
        threshold: 0.50%
      core:
        flags: core
      cucumber:
        flags: cucumber
      junit4:
        flags: junit4
      jupiter:
        flags: jupiter
      testng:
        flags: testng
      testkit:
        flags: testkit
      flighteval:
        flags: flighteval
    patch: false
flags:
  core:
    paths:
      - ./mission-control
  cucumber:
    paths:
      - ./boosters/booster-cucumber-jvm
  junit4:
    paths:
      - ./boosters/booster-junit4
  jupiter:
    paths:
      - ./boosters/booster-junit-jupiter
  testng:
    paths:
      - ./boosters/booster-testng
  testkit:
    paths:
      - ./boosters/testkit
  flighteval:
    paths:
      - ./mission-report/flight-evaluation-report

Updating dependency checksums {patch} (#920)
  gradle/verification-metadata.xml
Due: none

Triggering a release {patch}
  .release-trigger
Due: none

Triggering a release {patch} (#921)
  .release-trigger
Due: none

Updating dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#931)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#936)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#943)
  gradle/verification-metadata.xml
Due: none

Triggering a release {patch} (#950)
  .release-trigger
Due: none

Updating dependency checksums {patch} (#960)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#970)
  gradle/verification-metadata.xml
Due: none

Triggering a release {patch} (#982)
  .release-trigger
Due: none

Maintenance (#987)
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle.yml
  boosters/booster-cucumber-jvm/build.gradle
  boosters/booster-cucumber-jvm/build.gradle.kts
  boosters/booster-junit-jupiter/build.gradle
  boosters/booster-junit-jupiter/build.gradle.kts
  boosters/booster-junit4/build.gradle
  boosters/booster-junit4/build.gradle.kts
  boosters/booster-testng/build.gradle
  boosters/booster-testng/build.gradle.kts
  boosters/testkit/build.gradle
  boosters/testkit/build.gradle.kts
  build.gradle
  build.gradle.kts
  config/ossindex/exclusions.txt
  config/ossindex/ossIndexAudit.gradle
  config/ossindex/ossIndexAudit.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  mission-control/build.gradle
  mission-control/build.gradle.kts
  mission-report/flight-evaluation-report/build.gradle
  mission-report/flight-evaluation-report/build.gradle.kts
  mission-report/flight-evaluation-report/node/css/10-base.scss
  mission-report/flight-evaluation-report/node/css/20-colors.scss
  mission-report/flight-evaluation-report/node/css/30-layout-common.scss
  mission-report/flight-evaluation-report/node/css/35-layout-log-view.scss
  mission-report/flight-evaluation-report/node/css/40-layout-overview.scss
  mission-report/flight-evaluation-report/node/css/45-layout-summary.scss
  mission-report/flight-evaluation-report/node/css/50-theme-toggle.scss
  mission-report/flight-evaluation-report/node/css/60-print.scss
  settings.gradle
  settings.gradle.kts
Due: core, cucumber, junit4, jupiter, testng, testkit, flighteval

Maintenance - Includes some of the IDE config files in git - Fixes some code inspection warnings
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/icon.png
  .idea/inspectionProfiles/Project_Default.xml
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/fueltank/AbortMissionHook.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/parachute/AbortMissionHook.java
  boosters/booster-junit-jupiter/src/test/java/com/github/nagyesta/abortmission/booster/jupiter/ParallelStaticFireTestWithSideBoostersPerClassTest.java
  boosters/booster-junit-jupiter/src/test/java/com/github/nagyesta/abortmission/booster/jupiter/ParallelStaticFireTestWithSideBoostersTest.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/ParallelStaticFireTestWithSideBoosters.java
  boosters/testkit/src/main/java/com/github/nagyesta/abortmission/testkit/spring/StaticFireTestAssets.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/annotation/AnnotationContextEvaluator.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/extractor/impl/AnnotationDependencyNameExtractor.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/extractor/impl/AnnotationSimpleNameDependencyExtractor.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/AbstractStageStatisticsCollector.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/DefaultStageStatisticsSnapshot.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/MissionStatisticsCollector.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/StageStatisticsCollector.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/CombiningOperatorMatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/CustomMatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/DependencyMatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/EnvironmentMatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/MissionHealthCheckMatcherBuilder.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/NotMatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/SystemPropertyMatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/ReportingHelper.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/converter/BaseLaunchTelemetryConverter.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/stats/TestRunTelemetry.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/healthcheck/impl/PercentageBasedMissionHealthCheckEvaluatorTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/matcher/impl/EnvironmentMatcherTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/matcher/impl/SystemPropertyMatcherTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/LocalDateTimeAdapterTest.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/controller/ConversionController.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/config/ConversionPropertiesTest.java
Due: core, cucumber, jupiter, testng, testkit, flighteval

Maintenance (#988)
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/icon.png
  .idea/inspectionProfiles/Project_Default.xml
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/fueltank/AbortMissionHook.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/parachute/AbortMissionHook.java
  boosters/booster-junit-jupiter/src/test/java/com/github/nagyesta/abortmission/booster/jupiter/ParallelStaticFireTestWithSideBoostersPerClassTest.java
  boosters/booster-junit-jupiter/src/test/java/com/github/nagyesta/abortmission/booster/jupiter/ParallelStaticFireTestWithSideBoostersTest.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/ParallelStaticFireTestWithSideBoosters.java
  boosters/testkit/src/main/java/com/github/nagyesta/abortmission/testkit/spring/StaticFireTestAssets.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/annotation/AnnotationContextEvaluator.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/extractor/impl/AnnotationDependencyNameExtractor.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/extractor/impl/AnnotationSimpleNameDependencyExtractor.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/AbstractStageStatisticsCollector.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/DefaultStageStatisticsSnapshot.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/MissionStatisticsCollector.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/StageStatisticsCollector.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/CombiningOperatorMatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/CustomMatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/DependencyMatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/EnvironmentMatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/MissionHealthCheckMatcherBuilder.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/NotMatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/SystemPropertyMatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/ReportingHelper.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/converter/BaseLaunchTelemetryConverter.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/stats/TestRunTelemetry.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/healthcheck/impl/PercentageBasedMissionHealthCheckEvaluatorTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/matcher/impl/EnvironmentMatcherTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/matcher/impl/SystemPropertyMatcherTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/LocalDateTimeAdapterTest.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/controller/ConversionController.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/config/ConversionPropertiesTest.java
Due: core, cucumber, jupiter, testng, testkit, flighteval

Fix coverage reporting - Fixes coverage reporting
  .idea/inspectionProfiles/Project_Default.xml
  boosters/booster-cucumber-jvm/build.gradle.kts
  boosters/booster-junit-jupiter/build.gradle.kts
  boosters/booster-junit4/build.gradle.kts
  boosters/booster-testng/build.gradle.kts
  boosters/testkit/build.gradle.kts
  mission-control/build.gradle.kts
  mission-report/flight-evaluation-report/build.gradle.kts
Due: core, cucumber, junit4, jupiter, testng, testkit, flighteval

Fix coverage reporting (#989)
  .idea/inspectionProfiles/Project_Default.xml
  boosters/booster-cucumber-jvm/build.gradle.kts
  boosters/booster-junit-jupiter/build.gradle.kts
  boosters/booster-junit4/build.gradle.kts
  boosters/booster-testng/build.gradle.kts
  boosters/testkit/build.gradle.kts
  mission-control/build.gradle.kts
  mission-report/flight-evaluation-report/build.gradle.kts
Due: core, cucumber, junit4, jupiter, testng, testkit, flighteval

Updating dependency checksums {patch} (#992)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#993)
  gradle/verification-metadata.xml
Due: none

Maintenance - Updates checkstyle version - Updates JaCoCo version - Fixes JS dependency report location to include it in the jar - Remove unnecessary config
  build.gradle.kts
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  mission-report/flight-evaluation-report/build.gradle.kts
  mission-report/flight-evaluation-report/node/Gruntfile.js
Due: flighteval

Maintenance (#996)
  build.gradle.kts
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  mission-report/flight-evaluation-report/build.gradle.kts
  mission-report/flight-evaluation-report/node/Gruntfile.js
Due: flighteval

Updating dependency checksums {patch} (#1002)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1004)
  gradle/verification-metadata.xml
Due: none

Maintenance - Group dependencies in Renovate - Update JUnit4 docs
  boosters/booster-junit4/README.md
  renovate.json
Due: junit4

Maintenance (#1017)
  boosters/booster-junit4/README.md
  renovate.json
Due: junit4

Updating dependency checksums {patch} (#1019)
  gradle/verification-metadata.xml
Due: none

Triggering a release {patch} (#1023)
  .release-trigger
Due: none
