Repository nagyesta/abort-mission: changes, and which Codecov flags are due for each by the changed paths.
All: core, cucumber, junit4, jupiter, testng, testkit, flighteval

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    project:
      default:
        threshold: 0.50%
      core:
        flags: core
      cucumber:
        flags: cucumber
      junit4:
        flags: junit4
      jupiter:
        flags: jupiter
      testng:
        flags: testng
      testkit:
        flags: testkit
      flighteval:
        flags: flighteval
    patch: false
flags:
  core:
    paths:
      - ./mission-control
  cucumber:
    paths:
      - ./boosters/booster-cucumber-jvm
  junit4:
    paths:
      - ./boosters/booster-junit4
  jupiter:
    paths:
      - ./boosters/booster-junit-jupiter
  testng:
    paths:
      - ./boosters/booster-testng
  testkit:
    paths:
      - ./boosters/testkit
  flighteval:
    paths:
      - ./mission-report/flight-evaluation-report

chore: Maintenance - Migrate CycloneDX configuration to new version
  boosters/booster-cucumber-jvm/build.gradle.kts
  boosters/booster-junit-jupiter/build.gradle.kts
  boosters/booster-junit4/build.gradle.kts
  boosters/booster-testng/build.gradle.kts
  boosters/testkit/build.gradle.kts
  build.gradle.kts
  gradle/verification-metadata.xml
  mission-control/build.gradle.kts
  mission-report/flight-evaluation-report/build.gradle.kts
Due: core, cucumber, junit4, jupiter, testng, testkit, flighteval

chore: Maintenance - Update license allowlist - Fix task dependencies between sonar and processTemplates
  boosters/booster-junit-jupiter/build.gradle.kts
  boosters/testkit/build.gradle.kts
  mission-report/flight-evaluation-report/build.gradle.kts
Due: jupiter, testkit, flighteval

chore: Automatic release notes - Export the project version during build - Generate release notes automatically on release - Update Sonar config
  .github/workflows/gradle.yml
  .github/workflows/release-draft.yml
  build.gradle.kts
Due: none

chore: Automatic release notes (#1260)
  .github/workflows/gradle.yml
  .github/workflows/release-draft.yml
  build.gradle.kts
Due: none

chore: Update JSON Schema validation - Migrate to new validator version
  mission-report/flight-evaluation-report/node/package-lock.json
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/controller/ConversionController.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/controller/ConversionControllerIntegrationTest.java
Due: flighteval

Triggering a release {patch}
  .release-trigger
Due: none

Triggering a release {patch} (#1267)
  .release-trigger
Due: none

chore: Maintenance - Ignore scripts in NPM - Update some vulnerable NPM dependencies
  mission-report/flight-evaluation-report/build.gradle.kts
  mission-report/flight-evaluation-report/node/.npmrc
  mission-report/flight-evaluation-report/node/package-lock.json
  mission-report/flight-evaluation-report/node/package.json
Due: flighteval

chore: Maintenance (#1292)
  mission-report/flight-evaluation-report/build.gradle.kts
  mission-report/flight-evaluation-report/node/.npmrc
  mission-report/flight-evaluation-report/node/package-lock.json
  mission-report/flight-evaluation-report/node/package.json
Due: flighteval

chore: Workflow maintenance - Use auto-generated GitHub tokens in all workflows
  .github/workflows/add-index-exclusion.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-trigger.yml
  .github/workflows/scorecard.yml
  .github/workflows/update-dependency-checksums.yml
Due: none

chore: Workflow maintenance (#1298)
  .github/workflows/add-index-exclusion.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-trigger.yml
  .github/workflows/scorecard.yml
  .github/workflows/update-dependency-checksums.yml
Due: none

Pinning dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none

Update verification-metadata.xml
  gradle/verification-metadata.xml
Due: none

fix: Fix Sonar config - Remove unnecessary Sonar configuration - Add codeowners
  .github/CODEOWNERS
  build.gradle.kts
Due: none

fix: Fix Sonar config (#1321)
  .github/CODEOWNERS
  build.gradle.kts
Due: none

chore: Maintenance - Update Jackson and JSON validator dependencies - Update coverage badges in readme
  README.md
  boosters/booster-cucumber-jvm/README.md
  boosters/booster-junit-jupiter/README.md
  boosters/booster-junit4/README.md
  boosters/booster-testng/README.md
  boosters/testkit/README.md
  boosters/testkit/build.gradle.kts
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  mission-control/README.md
  mission-report/flight-evaluation-report/README.md
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/AbortMissionAppContext.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/controller/ConversionController.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/LaunchHtml.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/TestRunHtml.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/controller/ConversionControllerIntegrationTest.java
Due: core, cucumber, junit4, jupiter, testng, testkit, flighteval

chore: Maintenance (#1322)
  README.md
  boosters/booster-cucumber-jvm/README.md
  boosters/booster-junit-jupiter/README.md
  boosters/booster-junit4/README.md
  boosters/booster-testng/README.md
  boosters/testkit/README.md
  boosters/testkit/build.gradle.kts
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  mission-control/README.md
  mission-report/flight-evaluation-report/README.md
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/AbortMissionAppContext.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/controller/ConversionController.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/LaunchHtml.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/TestRunHtml.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/controller/ConversionControllerIntegrationTest.java
Due: core, cucumber, junit4, jupiter, testng, testkit, flighteval

Excluding vulnerability CVE-2026-24400 {patch}
  config/ossindex/exclusions.txt
Due: none

feat: Allow 100 percent as threshold - Allow percentage based evaluators to accept 100% as threshold - Update tests
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/PercentageBasedMissionHealthCheckEvaluator.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/healthcheck/impl/PercentageBasedMissionHealthCheckEvaluatorTest.java
Due: core

feat: Allow 100 percent as threshold (#1358)
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/PercentageBasedMissionHealthCheckEvaluator.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/healthcheck/impl/PercentageBasedMissionHealthCheckEvaluatorTest.java
Due: core

chore: Maintenance - Fix license config
  mission-report/flight-evaluation-report/build.gradle.kts
Due: flighteval

chore: Maintenance - Remove unused license from config
  boosters/booster-cucumber-jvm/build.gradle.kts
  boosters/testkit/build.gradle.kts
Due: cucumber, testkit

chore: Maintenance - Fix gradle task dependencies
  boosters/booster-cucumber-jvm/build.gradle.kts
  boosters/booster-junit-jupiter/build.gradle.kts
  boosters/booster-junit4/build.gradle.kts
  boosters/booster-testng/build.gradle.kts
  boosters/testkit/build.gradle.kts
Due: cucumber, junit4, jupiter, testng, testkit

Excluding vulnerability CVE-2026-22745 {patch}
  config/ossindex/exclusions.txt
Due: none

chore: Migrate to OWASP Dependency Check (#1431)
  .github/workflows/add-vulnerability-suppression.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-dependency-check.yml
  .github/workflows/gradle.yml
  build.gradle.kts
  config/dependency-check/suppressions.xml
  config/ossindex/exclusions.txt
  config/ossindex/ossIndexAudit.gradle.kts
  gradle/libs.versions.toml
  mission-report/flight-evaluation-report/node/package-lock.json
Due: flighteval

chore: Update Dependency Check config - Reduce the Sonatype Guide utilization - Update NPM packages
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-dependency-check.yml
  build.gradle.kts
  gradle/verification-metadata.xml
  mission-report/flight-evaluation-report/node/package-lock.json
Due: flighteval

chore: Update Dependency Check config (#1457)
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-dependency-check.yml
  build.gradle.kts
  gradle/verification-metadata.xml
  mission-report/flight-evaluation-report/node/package-lock.json
Due: flighteval

Update gradle-dependency-check.yml
  .github/workflows/gradle-dependency-check.yml
Due: none

chore: Integrate Snyk - Add Snyk configuration - Update NPM packages - Change dependency chcek workflows
  .github/workflows/add-vulnerability-suppression.yml
  .github/workflows/gradle-dependency-check.yml
  .github/workflows/gradle.yml
  .snyk
  README.md
  boosters/booster-cucumber-jvm/build.gradle.kts
  boosters/booster-junit-jupiter/build.gradle.kts
  boosters/booster-junit4/build.gradle.kts
  boosters/booster-testng/build.gradle.kts
  mission-report/flight-evaluation-report/node/package-lock.json
  mission-report/flight-evaluation-report/node/package.json
Due: cucumber, junit4, jupiter, testng, flighteval

chore: Integrate Snyk (#1486)
  .github/workflows/add-vulnerability-suppression.yml
  .github/workflows/gradle-dependency-check.yml
  .github/workflows/gradle.yml
  .snyk
  README.md
  boosters/booster-cucumber-jvm/build.gradle.kts
  boosters/booster-junit-jupiter/build.gradle.kts
  boosters/booster-junit4/build.gradle.kts
  boosters/booster-testng/build.gradle.kts
  mission-report/flight-evaluation-report/node/package-lock.json
  mission-report/flight-evaluation-report/node/package.json
Due: cucumber, junit4, jupiter, testng, flighteval
