Repository nagyesta/abort-mission: changes, and which Codecov flags are due for each by the changed paths.
All: core, junit4, jupiter, testng, testkit, flighteval

Rename Abort--Mission-armed-green-flat-square.svg to badge-abort-mission-armed-green-flat-square.svg
  .github/assets/badge-abort-mission-armed-green-flat-square.svg
Due: none

Update badge-abort-mission-armed-green-flat-square.svg
  .github/assets/badge-abort-mission-armed-green-flat-square.svg
Due: none

Rename Abort--Mission-armed-green-flat.svg to badge-abort-mission-armed-green-flat.svg
  .github/assets/badge-abort-mission-armed-green-flat.svg
Due: none

Rename Abort--Mission-armed-green-for-the-badge.svg to badge-abort-mission-armed-green-for-the-badge.svg
  .github/assets/badge-abort-mission-armed-green-for-the-badge.svg
Due: none

Rename Abort--Mission-armed-green.svg to badge-abort-mission-armed-green.svg
  .github/assets/badge-abort-mission-armed-green.svg
Due: none

Cucumber JVM support - Adds Cucumber JVM booster - Defines new CodeCov flag and upload steps - Sets Jar packaging of evaluation report - Updates Gradle version to 6.7
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  README.md
  boosters/booster-cucumber-jvm/README.md
  boosters/booster-cucumber-jvm/build.gradle
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/AbortMissionPlugin.java
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/CucumberLaunchSequenceTemplate.java
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/LaunchAbortHook.java
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/matcher/ScenarioNameMatcher.java
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/matcher/ScenarioUriMatcher.java
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/matcher/TagDependencyNameExtractor.java
  boosters/booster-cucumber-jvm/src/main/resources/.gitkeep
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/FuelTankTest.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/ParachuteDropTest.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/StaticFireBoosterTest.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/fueltank/AbortMissionHook.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/fueltank/FuelTankStepDefs.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/fueltank/FuelTankTestContext.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/matcher/ScenarioNameMatcherTest.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/matcher/ScenarioUriMatcherTest.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/parachute/AbortMissionHook.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/parachute/ParachuteStepDefs.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/parachute/ParachuteTestContext.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/staticfire/AbortMissionHook.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/staticfire/StaticFireStepDefs.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/staticfire/StaticFireTestContext.java
  boosters/booster-cucumber-jvm/src/test/resources/com/github/nagyesta/abortmission/booster/cucumber/fueltank/FuelTank.feature
  boosters/booster-cucumber-jvm/src/test/resources/com/github/nagyesta/abortmission/booster/cucumber/parachute/ParachuteDrop.feature
  boosters/booster-cucumber-jvm/src/test/resources/com/github/nagyesta/abortmission/booster/cucumber/staticfire/StaticFireCenterCoreOnly.feature
  boosters/booster-cucumber-jvm/src/test/resources/com/github/nagyesta/abortmission/booster/cucumber/staticfire/StaticFireHeavy.feature
  build.gradle
  codecov.yml
  gradle/wrapper/gradle-wrapper.properties
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/AbstractLaunchSequenceTemplate.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/AbstractMissionLaunchSequenceTemplate.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/MissionHealthCheckMatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/CustomMatcher.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/ClassHtml.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/html/ClassHtmlTest.java
  settings.gradle
Due: core, flighteval

Cucumber JVM support (#7)
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  README.md
  boosters/booster-cucumber-jvm/README.md
  boosters/booster-cucumber-jvm/build.gradle
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/AbortMissionPlugin.java
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/CucumberLaunchSequenceTemplate.java
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/LaunchAbortHook.java
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/matcher/ScenarioNameMatcher.java
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/matcher/ScenarioUriMatcher.java
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/matcher/TagDependencyNameExtractor.java
  boosters/booster-cucumber-jvm/src/main/resources/.gitkeep
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/FuelTankTest.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/ParachuteDropTest.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/StaticFireBoosterTest.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/fueltank/AbortMissionHook.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/fueltank/FuelTankStepDefs.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/fueltank/FuelTankTestContext.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/matcher/ScenarioNameMatcherTest.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/matcher/ScenarioUriMatcherTest.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/parachute/AbortMissionHook.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/parachute/ParachuteStepDefs.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/parachute/ParachuteTestContext.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/staticfire/AbortMissionHook.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/staticfire/StaticFireStepDefs.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/staticfire/StaticFireTestContext.java
  boosters/booster-cucumber-jvm/src/test/resources/com/github/nagyesta/abortmission/booster/cucumber/fueltank/FuelTank.feature
  boosters/booster-cucumber-jvm/src/test/resources/com/github/nagyesta/abortmission/booster/cucumber/parachute/ParachuteDrop.feature
  boosters/booster-cucumber-jvm/src/test/resources/com/github/nagyesta/abortmission/booster/cucumber/staticfire/StaticFireCenterCoreOnly.feature
  boosters/booster-cucumber-jvm/src/test/resources/com/github/nagyesta/abortmission/booster/cucumber/staticfire/StaticFireHeavy.feature
  build.gradle
  codecov.yml
  gradle/wrapper/gradle-wrapper.properties
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/AbstractLaunchSequenceTemplate.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/AbstractMissionLaunchSequenceTemplate.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/MissionHealthCheckMatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/matcher/impl/CustomMatcher.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/ClassHtml.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/html/ClassHtmlTest.java
  settings.gradle
Due: core, flighteval

Add files via upload
  .github/assets/Evaluator_filtering_on_abort.png
Due: none

Integrate Bintray Uploader - Integrates Bintray Artifact Upload - Sets up workflows to ignore irrelevant files - Fixes a typo in Cucumber JVM booster readme
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  boosters/booster-cucumber-jvm/README.md
  manifest.bau
Due: none

Integrate Bintray Uploader (#8)
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  boosters/booster-cucumber-jvm/README.md
  manifest.bau
Due: none

Move to Maven Central - Removes Bintray Artifact Upload - Adds artifact signing to gradle build - Sets up workflows to publish to OSSRH
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  boosters/booster-cucumber-jvm/build.gradle
  boosters/booster-junit-jupiter/build.gradle
  boosters/booster-junit4/build.gradle
  boosters/booster-testng/build.gradle
  boosters/testkit/build.gradle
  build.gradle
  manifest.bau
  mission-control/build.gradle
  mission-report/flight-evaluation-report/build.gradle
Due: core, junit4, jupiter, testng, testkit, flighteval

Move to Maven Central (#9)
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  boosters/booster-cucumber-jvm/build.gradle
  boosters/booster-junit-jupiter/build.gradle
  boosters/booster-junit4/build.gradle
  boosters/booster-testng/build.gradle
  boosters/testkit/build.gradle
  build.gradle
  manifest.bau
  mission-control/build.gradle
  mission-report/flight-evaluation-report/build.gradle
Due: core, junit4, jupiter, testng, testkit, flighteval

Update README.md
  README.md
Due: none

Windows issues - Fixes HTML template file encoding (using UTF-8) - Adds Windows builder to PR workflow
  .github/workflows/gradle-ci.yml
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/controller/ConversionController.java
Due: flighteval

Windows issues (#10)
  .github/workflows/gradle-ci.yml
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/controller/ConversionController.java
Due: flighteval

Character encoding issues - Fixes character encoding to UTF-8 on the reporting path - Adds editorconfig
  .editorconfig
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/ReportingHelper.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/controller/ConversionController.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/controller/ConversionControllerIntegrationTest.java
Due: core, flighteval

Character encoding issues (#11)
  .editorconfig
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/ReportingHelper.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/controller/ConversionController.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/controller/ConversionControllerIntegrationTest.java
Due: core, flighteval

Tidy up mission report generation - Adds OSS Index Audit scan to mission report
  .github/workflows/codeql-analysis.yml
  mission-report/flight-evaluation-report/build.gradle
Due: flighteval

Tidy up mission report generation (#12)
  .github/workflows/codeql-analysis.yml
  mission-report/flight-evaluation-report/README.md
  mission-report/flight-evaluation-report/build.gradle
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/config/ConversionProperties.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/controller/ConversionController.java
  mission-report/flight-evaluation-report/src/main/resources/templates/launch-report.html
  mission-report/flight-evaluation-report/src/main/templates/css/base.css
  mission-report/flight-evaluation-report/src/main/templates/css/colors.css
  mission-report/flight-evaluation-report/src/main/templates/css/columns.css
  mission-report/flight-evaluation-report/src/main/templates/css/reset.css
  mission-report/flight-evaluation-report/src/main/templates/css/rows.css
  mission-report/flight-evaluation-report/src/main/templates/css/stats.css
  mission-report/flight-evaluation-report/src/main/templates/html/launch-report.html
  mission-report/flight-evaluation-report/src/main/templates/js/toggle.js
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/controller/ConversionControllerIntegrationTest.java
  mission-report/flight-evaluation-report/src/test/resources/abort-mission-report.txt
Due: flighteval

Mission report improvements - Changes sorting logic to display classes in the order of execution - Includes class level start - end timestamps - Adds filtering options to hide rows by status
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/ClassHtml.java
  mission-report/flight-evaluation-report/src/main/templates/css/base.css
  mission-report/flight-evaluation-report/src/main/templates/css/rows.css
  mission-report/flight-evaluation-report/src/main/templates/html/launch-report.html
  mission-report/flight-evaluation-report/src/main/templates/js/toggle.js
  mission-report/flight-evaluation-report/src/test/resources/abort-mission-report.txt
Due: flighteval

Mission report improvements - Fixes tests
  mission-report/flight-evaluation-report/src/main/templates/html/launch-report.html
  mission-report/flight-evaluation-report/src/test/resources/abort-mission-report.txt
Due: flighteval

Mission report improvements (#13)
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/ClassHtml.java
  mission-report/flight-evaluation-report/src/main/templates/css/base.css
  mission-report/flight-evaluation-report/src/main/templates/css/rows.css
  mission-report/flight-evaluation-report/src/main/templates/html/launch-report.html
  mission-report/flight-evaluation-report/src/main/templates/js/toggle.js
  mission-report/flight-evaluation-report/src/test/resources/abort-mission-report.txt
Due: flighteval

Supporting add-ons for launches - Downgrades Spring Boot version back to the original in case of Booster/Strongback tests
  boosters/booster-cucumber-jvm/build.gradle
  boosters/booster-junit-jupiter/build.gradle
  boosters/booster-junit4/build.gradle
  boosters/booster-testng/build.gradle
  boosters/testkit/build.gradle
  build.gradle
  strongback/strongback-h2-supplier/build.gradle
  strongback/strongback-rmi-supplier/build.gradle
Due: junit4, jupiter, testng, testkit

Supporting add-ons for launches - Adds more tests and sets up logging.
  build.gradle
  strongback/strongback-base/build.gradle
  strongback/strongback-base/src/main/java/com/github/nagyesta/abortmission/strongback/StrongbackErectorMain.java
  strongback/strongback-base/src/main/java/com/github/nagyesta/abortmission/strongback/StrongbackRetractorMain.java
  strongback/strongback-base/src/main/java/com/github/nagyesta/abortmission/strongback/base/ExternalStageStatisticsCollector.java
  strongback/strongback-base/src/main/resources/.gitkeep
  strongback/strongback-base/src/main/resources/logback.xml
  strongback/strongback-base/src/test/java/com/github/nagyesta/abortmission/strongback/NoOpController.java
  strongback/strongback-base/src/test/java/com/github/nagyesta/abortmission/strongback/StrongbackMainTest.java
  strongback/strongback-base/src/test/java/com/github/nagyesta/abortmission/strongback/base/ExternalStageStatisticsCollectorTest.java
  strongback/strongback-base/src/test/java/com/github/nagyesta/abortmission/strongback/base/StrongbackConfigurationHelperTest.java
  strongback/strongback-base/src/test/java/com/github/nagyesta/abortmission/strongback/base/StrongbackExceptionTest.java
  strongback/strongback-base/src/test/resources/.gitkeep
  strongback/strongback-base/src/test/resources/strongback-blueprint.xml
  strongback/strongback-rmi-supplier/src/main/java/com/github/nagyesta/abortmission/strongback/rmi/server/RmiServerManager.java
  strongback/strongback-rmi-supplier/src/test/java/com/github/nagyesta/abortmission/strongback/rmi/server/RmiServerManagerTest.java
Due: none

Supporting add-ons for launches - Triggering a rebuild
  gradle.properties
Due: none

Supporting add-ons for launches - Updates README.md
  README.md
Due: none

Add illustration for Strongback release
  .github/assets/rocket_with_fork.png
  .github/assets/rocket_with_strongback.png
Due: none

Maintenance - Updates Gradle version - Updates Codecov action
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/staticfire/StaticFireStepDefs.java
  build.gradle
  codecov.yml
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  mission-report/flight-evaluation-report/build.gradle
Due: flighteval

Maintenance - Updates Spring version
  build.gradle
Due: none

Maintenance - Updates Spring Boot version
  build.gradle
Due: none

Maintenance (#15)
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/staticfire/StaticFireStepDefs.java
  build.gradle
  codecov.yml
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  mission-report/flight-evaluation-report/build.gradle
Due: flighteval

Trigger rebuild
  .github/workflows/gradle.yml
Due: none

Rebuild as 2.7.1
  .github/workflows/gradle.yml
Due: none

Rebuild as 2.7.2
  .github/workflows/gradle.yml
Due: none

Maintenance - Updates old dependency versions to mitigate issues in test data as well
  build.gradle
Due: none

Maintenance - Updates cucumber version
  build.gradle
Due: none

Feature/security (#16)
  build.gradle
Due: none

Version updates - Updates Cucumber version to 7.x - Fixes builders of reporting lib - Updates multiple dependencies
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/AbortMissionPlugin.java
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/matcher/TagDependencyNameExtractor.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/fueltank/FuelTankTestContext.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/parachute/ParachuteStepDefs.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/parachute/ParachuteTestContext.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/staticfire/StaticFireStepDefs.java
  boosters/booster-cucumber-jvm/src/test/resources/com/github/nagyesta/abortmission/booster/cucumber/fueltank/FuelTank.feature
  build.gradle
  mission-report/flight-evaluation-report/build.gradle
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/ClassHtml.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/LaunchHtml.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/StageLaunchStatsHtml.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/StatsHtml.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/converter/ClassJsonToHtmlConverter.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/converter/StageLaunchStatsJsonToHtmlConverter.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/html/ClassHtmlTest.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/html/StageLaunchStatsHtmlTest.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/html/converter/ClassJsonToHtmlConverterTest.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/html/converter/LaunchJsonToHtmlConverterTest.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/html/converter/StageLaunchStatsJsonToHtmlConverterTest.java
Due: flighteval

Version updates - Code review fixes #1
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/ClassHtml.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/LaunchHtml.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/StageLaunchStatsHtml.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/StatsHtml.java
Due: flighteval

Path conditions:
  core: any of: mission-control
  junit4: any of: boosters/booster-junit4
  jupiter: any of: boosters/booster-junit-jupiter
  testng: any of: boosters/booster-testng
  testkit: any of: boosters/testkit
  flighteval: any of: mission-report/flight-evaluation-report
