Repository nagyesta/abort-mission: changes, and which Codecov flags are due for each by the changed paths.
All: core, junit4, jupiter, testkit

Docs update - Adds wiki URL [patch]
  README.md
  boosters/booster-junit-jupiter/README.md
  boosters/booster-junit4/README.md
  boosters/testkit/README.md
  mission-control/README.md
Due: core, junit4, jupiter, testkit

Workflow update - Disable all build-caches on release, change cache names [patch]
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
Due: none

Fix versioning - Attempts to fix versioner as it got confused by the tag in the initial commit [patch]
  build.gradle
Due: none

Add Test framework integration sequence diagrams
  .github/assets/Abort-Mission_Test_Framework_Integration_transparent.png
  .github/assets/Abort-Mission_Test_Framework_Integration_white.png
Due: none

Add diagrams of changes in countdown evaluation
  .github/assets/State_transform_countdown_failure.png
  .github/assets/State_transform_occasional_countdown_failure.png
Due: none

Add evaluator selection diagrams
  .github/assets/Evaluator_filtering_on_abort.png
  .github/assets/Evaluator_selection_approach.png
Due: none

Add TestNG booster - Adds TestNG specific implementation - Re-adds build caches - Defines new CodeQL workflow
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  README.md
  boosters/booster-testng/README.md
  boosters/booster-testng/build.gradle
  boosters/booster-testng/src/main/java/com/github/nagyesta/abortmission/booster/testng/annotation/LaunchAbortArmed.java
  boosters/booster-testng/src/main/java/com/github/nagyesta/abortmission/booster/testng/extractor/GroupDependencyNameExtractor.java
  boosters/booster-testng/src/main/java/com/github/nagyesta/abortmission/booster/testng/listener/AbortMissionListener.java
  boosters/booster-testng/src/main/resources/.gitkeep
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/FuelTankTest.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/FuelTankTestContext.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/MissionOutlineDefinition.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/ParachuteDropTest.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/ParachuteTestContext.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/StaticFireBoosterTest.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/StaticFireTestCenterCoreOnly.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/StaticFireTestWithSideBoosters.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/extractor/GroupDependencyNameExtractorTest.java
  boosters/booster-testng/src/test/resources/.gitkeep
  build.gradle
  codecov.yml
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/AbstractLaunchSequenceTemplate.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/LaunchSequenceTemplate.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/MissionControl.java
  settings.gradle
Due: core

Add TestNG booster - Add CodeCov reporting
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
Due: none

Add TestNG booster - Disable build caches
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
Due: none

Add TestNG booster - Fix typo in CodeCov upload config
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
Due: none

Add TestNG booster - Fix typo in readme
  README.md
Due: none

Add TestNG booster - Removes unnecessary builds (keeping only PR builds and "main")
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
Due: none

Add TestNG booster - Minor fixes
  boosters/booster-testng/src/main/java/com/github/nagyesta/abortmission/booster/testng/listener/AbortMissionListener.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/LaunchSequenceTemplate.java
Due: core

Feature/testng support (#1)
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  README.md
  boosters/booster-testng/README.md
  boosters/booster-testng/build.gradle
  boosters/booster-testng/src/main/java/com/github/nagyesta/abortmission/booster/testng/annotation/LaunchAbortArmed.java
  boosters/booster-testng/src/main/java/com/github/nagyesta/abortmission/booster/testng/extractor/GroupDependencyNameExtractor.java
  boosters/booster-testng/src/main/java/com/github/nagyesta/abortmission/booster/testng/listener/AbortMissionListener.java
  boosters/booster-testng/src/main/resources/.gitkeep
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/FuelTankTest.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/FuelTankTestContext.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/MissionOutlineDefinition.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/ParachuteDropTest.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/ParachuteTestContext.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/StaticFireBoosterTest.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/StaticFireTestCenterCoreOnly.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/StaticFireTestWithSideBoosters.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/extractor/GroupDependencyNameExtractorTest.java
  boosters/booster-testng/src/test/resources/.gitkeep
  build.gradle
  codecov.yml
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/AbstractLaunchSequenceTemplate.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/MissionControl.java
  settings.gradle
Due: core

Retry release - Removes gradle wrapper cache of CodeQL analysis - Triggers new build - Turns off semantic versioning as the plugin fails to calculate the right version
  .github/workflows/codeql-analysis.yml
  build.gradle
Due: none

Semantic versioning reloaded - Resets semantic versioning - Fixes copy-paste issue in TestNG Booster README.md
  boosters/booster-testng/README.md
  build.gradle
Due: none

Semantic versioning - Update versioner plugin version {patch}
  build.gradle
Due: none

Semantic versioning - Print version on PR build {patch}
  .github/workflows/gradle-ci.yml
Due: none

Semantic versioning - Fix fetch-depth of checkout plugin {patch}
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
Due: none

Semantic versioning - Forces use of version bumps (commit suffix ignored) {patch}
  build.gradle
Due: none

Semantic versioning reloaded (#2)
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  boosters/booster-testng/README.md
  build.gradle
Due: none

Capturing mission telemetry - Work in progress telemetry conversion
  boosters/booster-junit-jupiter/build.gradle
  boosters/booster-junit-jupiter/src/main/java/com/github/nagyesta/abortmission/booster/jupiter/listener/AbortMissionTelemetryReportingListener.java
  boosters/booster-junit-jupiter/src/main/resources/META-INF/services/org.junit.platform.launcher.TestExecutionListener
  boosters/booster-junit-jupiter/src/test/java/com/github/nagyesta/abortmission/booster/jupiter/StaticFireBoosterTest.java
  boosters/booster-testng/build.gradle
  boosters/booster-testng/src/main/java/com/github/nagyesta/abortmission/booster/testng/listener/AbortMissionListener.java
  build.gradle
  mission-control/build.gradle
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/AbortMissionCommandOps.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/MissionControl.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/AbstractMissionHealthCheckEvaluator.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/PercentageBasedMissionHealthCheckEvaluator.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/StageStatisticsCollector.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/selfpropelled/AbstractMissionTemplate.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/ReportingHelper.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/StageResult.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/StageTimeMeasurement.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/TelemetryExporter.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/converter/ClassTelemetryConverter.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/converter/LaunchTelemetryConverter.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/stats/AggregatedLaunchStats.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/stats/ClassTelemetry.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/stats/LaunchTelemetry.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/stats/StageLaunchStats.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/stats/TestRunTelemetry.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/watch/StageTimeStopwatch.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/healthcheck/impl/PercentageBasedMissionHealthCheckEvaluatorTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/ReportingHelperTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/StageTimeMeasurementTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/converter/LaunchTelemetryConverterTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/stats/AbstractTelemetryTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/stats/AggregatedLaunchStatsTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/stats/ClassTelemetryTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/stats/LaunchTelemetryTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/stats/StageLaunchStatsTest.java
Due: core, jupiter

Capturing mission telemetry - Refactoring to meet review criteria
  boosters/booster-junit4/src/main/java/com/github/nagyesta/abortmission/booster/junit4/support/LaunchAbortTestWatcher.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/AbstractLaunchSequenceTemplate.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/StageTimeMeasurement.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/LaunchSequenceTemplateTest.java
Due: core, junit4

Capturing mission telemetry - Fix dependency issue
  mission-control/build.gradle
Due: core

Capturing mission telemetry - Updated documentation
  boosters/booster-junit4/README.md
  mission-control/README.md
Due: core, junit4

Capturing mission telemetry - Fix Jupiter issue with wrong store being used in some cases
  boosters/booster-junit-jupiter/src/main/java/com/github/nagyesta/abortmission/booster/jupiter/extension/AbortMissionExtension.java
Due: jupiter

Adding v2.x.x diagrams for wiki
  .github/assets/Abort-Mission Test Framework Integration_v2xx.png
  .github/assets/State_transform_countdown_failure_v2xx.png
  .github/assets/State_transform_occasional_countdown_failure_v2xx.png
Due: none

Generating Flight Evaluation Report - Fixed test data formatting
  mission-report/flight-evaluation-report/src/main/resources/.gitkeep
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/controller/ConversionControllerIntegrationTest.java
  mission-report/flight-evaluation-report/src/test/resources/.gitkeep
  mission-report/flight-evaluation-report/src/test/resources/abort-mission-report.txt
Due: none

Generating Flight Evaluation Report - Adds description about the new module to readme - Adds new report only evaluator
  README.md
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/MissionControl.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/ReportOnlyMissionHealthCheckEvaluator.java
  mission-control/src/test/java/.gitkeep
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/healthcheck/impl/ReportOnlyMissionHealthCheckEvaluatorTest.java
  mission-report/flight-evaluation-report/README.md
  mission-report/flight-evaluation-report/src/main/resources/application.properties
Due: core

Add flight evaluation report examples
  .github/assets/example-abort-mission-report.png
  .github/assets/flight-evaluation-report-description.png
  .github/assets/yippee-ki-json-report-active.png
  .github/assets/yippee-ki-json-report-active_summary.png
  .github/assets/yippee-ki-json-report-comparison.png
  .github/assets/yippee-ki-json-report-inactive.png
  .github/assets/yippee-ki-json-report-inactive_summary.png
Due: none

Logging, parallel run enhancements - Turns off tests during CodeQL run - Removes dead code snippet from Jupiter extension
  .github/workflows/codeql-analysis.yml
  boosters/booster-junit-jupiter/src/main/java/com/github/nagyesta/abortmission/booster/jupiter/extension/AbortMissionExtension.java
Due: jupiter

Logging, parallel run enhancements (#5)
  .github/workflows/codeql-analysis.yml
  boosters/booster-junit-jupiter/build.gradle
  boosters/booster-junit-jupiter/src/main/java/com/github/nagyesta/abortmission/booster/jupiter/extension/AbortMissionExtension.java
  boosters/booster-junit-jupiter/src/test/java/com/github/nagyesta/abortmission/booster/jupiter/ParallelStaticFireTestWithSideBoostersPerClassTest.java
  boosters/booster-junit-jupiter/src/test/java/com/github/nagyesta/abortmission/booster/jupiter/ParallelStaticFireTestWithSideBoostersTest.java
  boosters/booster-junit-jupiter/src/test/java/com/github/nagyesta/abortmission/booster/jupiter/StaticFireBoosterTest.java
  boosters/booster-testng/build.gradle
  boosters/booster-testng/src/main/java/com/github/nagyesta/abortmission/booster/testng/listener/AbortMissionListener.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/ParallelStaticFireTestWithSideBoosters.java
  boosters/booster-testng/src/test/java/com/github/nagyesta/abortmission/booster/testng/StaticFireBoosterTest.java
  boosters/testkit/src/main/java/com/github/nagyesta/abortmission/testkit/spring/StaticFireTestAssets.java
  build.gradle
  mission-control/build.gradle
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/LaunchSequenceTemplate.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/healthcheck/impl/StageStatisticsCollector.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/outline/MissionOutline.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/watch/StageTimeStopwatch.java
  mission-report/flight-evaluation-report/README.md
Due: core, jupiter, testkit

Fix countdown failure reporting issue - Fixes issue of missed countdown failure reporting in case of Jupiter <5.7 - Updates readmes
  README.md
  boosters/booster-junit-jupiter/README.md
  boosters/booster-junit-jupiter/src/main/java/com/github/nagyesta/abortmission/booster/jupiter/extension/AbortMissionExtension.java
  boosters/booster-junit4/README.md
  boosters/booster-testng/README.md
  boosters/testkit/README.md
  build.gradle
  mission-control/README.md
  mission-report/flight-evaluation-report/README.md
Due: core, junit4, jupiter, testkit

Fix countdown failure reporting issue (#6)
  README.md
  boosters/booster-junit-jupiter/README.md
  boosters/booster-junit-jupiter/src/main/java/com/github/nagyesta/abortmission/booster/jupiter/extension/AbortMissionExtension.java
  boosters/booster-junit4/README.md
  boosters/booster-testng/README.md
  boosters/testkit/README.md
  build.gradle
  mission-control/README.md
  mission-report/flight-evaluation-report/README.md
Due: core, junit4, jupiter, testkit

Add files via upload
  .github/assets/abortmission.svg
Due: none

Add files via upload
  .github/assets/Abort--Mission-armed-green-flat-square.svg
  .github/assets/Abort--Mission-armed-green-flat.svg
  .github/assets/Abort--Mission-armed-green-for-the-badge.svg
  .github/assets/Abort--Mission-armed-green.svg
Due: none

Path conditions:
  core: any of: mission-control
  junit4: any of: boosters/booster-junit4
  jupiter: any of: boosters/booster-junit-jupiter
  testkit: any of: boosters/testkit
