Repository nagyesta/abort-mission: changes, and which Codecov flags are due for each by the changed paths.
All: core, cucumber, junit4, jupiter, testng, testkit, flighteval, strongback, h2, rmi

Pinning dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none

Excluding vulnerability CVE-2022-1471 {patch}
  config/ossindex/exclusions.txt
Due: none

Excluding vulnerability CVE-2022-1471 {patch} (#202)
  config/ossindex/exclusions.txt
Due: none

Update Github action versions - Sets Renovate to create workflow action PRs as well - Updates all Github actions
  .github/workflows/add-index-exclusion.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle-test-main.yml
  .github/workflows/gradle.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-draft.yml
  .github/workflows/release-trigger.yml
  .github/workflows/update-dependency-checksums.yml
  renovate.json
Due: none

SLF4J binding warning on console - Updates Logback to new version in case of Flight Evaluation Report to resolve mismatch caused by transitive dependencies
  boosters/testkit/build.gradle
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  mission-report/flight-evaluation-report/build.gradle
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/PropertiesParser.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/config/ConversionProperties.java
  strongback/strongback-base/build.gradle
Due: testkit, strongback

Annotation based matcher for test class evaluation - Adds dependency extractor for grabbing the simple names of class level annotations - Adds new test cases
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/extractor/impl/AnnotationSimpleNameDependencyExtractor.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/extractor/impl/AnnotationSimpleNameDependencyExtractorTest.java
Due: core

Triggering a release {patch}
  .release-trigger
Due: none

Excluding vulnerability sonatype-2022-6438 {patch}
  config/ossindex/exclusions.txt
Due: none

Excluding vulnerability sonatype-2022-6438 {patch} (#213)
  config/ossindex/exclusions.txt
Due: none

Update gradle-ci.yml
  .github/workflows/gradle-ci.yml
Due: none

Update gradle-test-main.yml
  .github/workflows/gradle-test-main.yml
Due: none

Update badge - Updates the workflow badge according to the new format
  README.md
  boosters/booster-cucumber-jvm/README.md
  boosters/booster-junit-jupiter/README.md
  boosters/booster-junit4/README.md
  boosters/booster-testng/README.md
  boosters/testkit/README.md
  mission-control/README.md
  mission-report/flight-evaluation-report/README.md
  strongback/strongback-base/README.md
  strongback/strongback-h2-supplier/README.md
  strongback/strongback-rmi-supplier/README.md
Due: core, cucumber, junit4, jupiter, testng, testkit, strongback, h2, rmi

Update badge (#222)
  README.md
  boosters/booster-cucumber-jvm/README.md
  boosters/booster-junit-jupiter/README.md
  boosters/booster-junit4/README.md
  boosters/booster-testng/README.md
  boosters/testkit/README.md
  mission-control/README.md
  mission-report/flight-evaluation-report/README.md
  strongback/strongback-base/README.md
  strongback/strongback-h2-supplier/README.md
  strongback/strongback-rmi-supplier/README.md
Due: core, cucumber, junit4, jupiter, testng, testkit, strongback, h2, rmi

Update workflow URL - Updates the workflow badge URL
  README.md
  boosters/booster-cucumber-jvm/README.md
  boosters/booster-junit-jupiter/README.md
  boosters/booster-junit4/README.md
  boosters/booster-testng/README.md
  boosters/testkit/README.md
  mission-control/README.md
  mission-report/flight-evaluation-report/README.md
  strongback/strongback-base/README.md
  strongback/strongback-h2-supplier/README.md
  strongback/strongback-rmi-supplier/README.md
Due: core, cucumber, junit4, jupiter, testng, testkit, strongback, h2, rmi

Update workflow URL (#223)
  README.md
  boosters/booster-cucumber-jvm/README.md
  boosters/booster-junit-jupiter/README.md
  boosters/booster-junit4/README.md
  boosters/booster-testng/README.md
  boosters/testkit/README.md
  mission-control/README.md
  mission-report/flight-evaluation-report/README.md
  strongback/strongback-base/README.md
  strongback/strongback-h2-supplier/README.md
  strongback/strongback-rmi-supplier/README.md
Due: core, cucumber, junit4, jupiter, testng, testkit, strongback, h2, rmi

Triggering a release {patch} (#237)
  .release-trigger
Due: none

Path conditions:
  core: any of: mission-control
  cucumber: any of: boosters/booster-cucumber-jvm
  junit4: any of: boosters/booster-junit4
  jupiter: any of: boosters/booster-junit-jupiter
  testng: any of: boosters/booster-testng
  testkit: any of: boosters/testkit
  flighteval: any of: s/flight-evaluation-report
  strongback: any of: strongback/strongback-base
  h2: any of: strongback/strongback-h2-supplier
  rmi: any of: strongback/strongback-rmi-supplier
