Repository nagyesta/abort-mission: changes, and which Codecov flags are due for each by the changed paths.
All: core, cucumber, junit4, jupiter, testng, testkit, flighteval

Examples to show proof of concept with integration tips (#412)
  boosters/booster-cucumber-jvm/README.md
  boosters/booster-junit-jupiter/README.md
  boosters/booster-junit4/README.md
  boosters/booster-testng/README.md
Due: cucumber, junit4, jupiter, testng

Pinning dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none

Triggering a release {patch}
  .release-trigger
Due: none

Triggering a release {patch} (#429)
  .release-trigger
Due: none

Maintenance - Updates Checkstyle version - Updates JaCoCo version - Adds toolchains to build files - Prepares for the next Gradle upgrade - Fixes some violations noticed by the new Checkstyle
  boosters/testkit/build.gradle
  build.gradle
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  mission-control/build.gradle
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/annotation/AnnotationContextEvaluatorTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/extractor/impl/AnnotationSimpleNameDependencyExtractorTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/extractor/impl/MissionDependenciesDependencyNameExtractorTest.java
  mission-report/flight-evaluation-report/build.gradle
Due: core, testkit, flighteval

Maintenance (#437)
  boosters/testkit/build.gradle
  build.gradle
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  mission-control/build.gradle
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/annotation/AnnotationContextEvaluatorTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/extractor/impl/AnnotationSimpleNameDependencyExtractorTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/extractor/impl/MissionDependenciesDependencyNameExtractorTest.java
  mission-report/flight-evaluation-report/build.gradle
Due: core, testkit, flighteval

Triggering a release {patch} (#460)
  .release-trigger
Due: none

Triggering a release {patch} (#483)
  .release-trigger
Due: none

Path conditions:
  core: any of: mission-control
  cucumber: any of: boosters/booster-cucumber-jvm
  junit4: any of: boosters/booster-junit4
  jupiter: any of: boosters/booster-junit-jupiter
  testng: any of: boosters/booster-testng
  testkit: any of: boosters/testkit
  flighteval: any of: mission-report/flight-evaluation-report
