Repository nagyesta/abort-mission: changes, and which Codecov flags are due for each by the changed paths.
All: core, cucumber, junit4, jupiter, testng, testkit, flighteval, strongback, h2, rmi

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: 0.50%
      core:
        flags: core
      cucumber:
        flags: cucumber
      junit4:
        flags: junit4
      jupiter:
        flags: jupiter
      testng:
        flags: testng
      testkit:
        flags: testkit
      flighteval:
        flags: flighteval
      strongback:
        flags: strongback
      h2:
        flags: h2
      rmi:
        flags: rmi
    patch: off
flags:
  core:
    paths:
      - ./mission-control
  cucumber:
    paths:
      - ./boosters/booster-cucumber-jvm
  junit4:
    paths:
      - ./boosters/booster-junit4
  jupiter:
    paths:
      - ./boosters/booster-junit-jupiter
  testng:
    paths:
      - ./boosters/booster-testng
  testkit:
    paths:
      - ./boosters/testkit
  flighteval:
    paths:
      - ./s/flight-evaluation-report
  strongback:
    paths:
      - ./strongback/strongback-base
  h2:
    paths:
      - ./strongback/strongback-h2-supplier
  rmi:
    paths:
      - ./strongback/strongback-rmi-supplier

Version updates (#17)
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/AbortMissionPlugin.java
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/matcher/TagDependencyNameExtractor.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/fueltank/FuelTankTestContext.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/parachute/ParachuteStepDefs.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/parachute/ParachuteTestContext.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/staticfire/StaticFireStepDefs.java
  boosters/booster-cucumber-jvm/src/test/resources/com/github/nagyesta/abortmission/booster/cucumber/fueltank/FuelTank.feature
  build.gradle
  mission-report/flight-evaluation-report/build.gradle
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/ClassHtml.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/LaunchHtml.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/StageLaunchStatsHtml.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/StatsHtml.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/converter/ClassJsonToHtmlConverter.java
  mission-report/flight-evaluation-report/src/main/java/com/github/nagyesta/abortmission/reporting/html/converter/StageLaunchStatsJsonToHtmlConverter.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/html/ClassHtmlTest.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/html/StageLaunchStatsHtmlTest.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/html/converter/ClassJsonToHtmlConverterTest.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/html/converter/LaunchJsonToHtmlConverterTest.java
  mission-report/flight-evaluation-report/src/test/java/com/github/nagyesta/abortmission/reporting/html/converter/StageLaunchStatsJsonToHtmlConverterTest.java
Due: cucumber

Refine Cucumber stats - Changes countdown reporting for Cucumber, countdown is reported as success before each scenario.
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/CucumberLaunchSequenceTemplate.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/StaticFireBoosterTest.java
Due: cucumber

Refine Cucumber stats (#18)
  boosters/booster-cucumber-jvm/src/main/java/com/github/nagyesta/abortmission/booster/cucumber/CucumberLaunchSequenceTemplate.java
  boosters/booster-cucumber-jvm/src/test/java/com/github/nagyesta/abortmission/booster/cucumber/StaticFireBoosterTest.java
Due: cucumber

Bump H2 version to eliminate a vulnerable dependency - Adjust statements to work with new syntax.
  build.gradle
  strongback/strongback-h2-supplier/src/main/java/com/github/nagyesta/abortmission/strongback/h2/repository/LaunchStatisticsRepository.java
  strongback/strongback-h2-supplier/src/main/resources/create_table.sql
Due: h2

Bump H2 version to eliminate a vulnerable dependency (#19)
  build.gradle
  strongback/strongback-h2-supplier/src/main/java/com/github/nagyesta/abortmission/strongback/h2/repository/LaunchStatisticsRepository.java
  strongback/strongback-h2-supplier/src/main/resources/create_table.sql
Due: h2

Maintenance (#20)
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-oss-index-scan.yml
  LICENSE
  boosters/testkit/build.gradle
  build.gradle
  mission-report/flight-evaluation-report/build.gradle
Due: testkit

Lift configuration - Configures repo specific rules of Sonatype Lift
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle.yml
  .lift.toml
  build.gradle
Due: none

Lift configuration (#21)
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle.yml
  .lift.toml
  build.gradle
Due: none

Maintenance - Sets up Gradle version catalog - Updates many dependency versions - Updates Gradle wrapper - Updates workflow action versions - Prepares Renovate integration
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle.yml
  boosters/booster-cucumber-jvm/build.gradle
  boosters/booster-junit-jupiter/build.gradle
  boosters/booster-junit4/build.gradle
  boosters/booster-testng/build.gradle
  boosters/testkit/build.gradle
  build.gradle
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  mission-control/build.gradle
  mission-report/flight-evaluation-report/build.gradle
  strongback/strongback-base/build.gradle
  strongback/strongback-h2-supplier/build.gradle
  strongback/strongback-rmi-supplier/build.gradle
Due: core, cucumber, junit4, jupiter, testng, testkit, strongback, h2, rmi

Maintenance (#22)
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle.yml
  boosters/booster-cucumber-jvm/build.gradle
  boosters/booster-junit-jupiter/build.gradle
  boosters/booster-junit4/build.gradle
  boosters/booster-testng/build.gradle
  boosters/testkit/build.gradle
  build.gradle
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  mission-control/build.gradle
  mission-report/flight-evaluation-report/build.gradle
  strongback/strongback-base/build.gradle
  strongback/strongback-h2-supplier/build.gradle
  strongback/strongback-rmi-supplier/build.gradle
Due: core, cucumber, junit4, jupiter, testng, testkit, strongback, h2, rmi

Add renovate.json
  renovate.json
Due: none

Exclude workflow actions
  renovate.json
Due: none

Update dependency org.slf4j:slf4j-api to v1.7.36 {patch}
  gradle/libs.versions.toml
Due: none

Update spring core to v5.3.16 {patch}
  gradle/libs.versions.toml
Due: none

Update dependency com.google.code.gson:gson to v2.9.0 {patch}
  gradle/libs.versions.toml
Due: none

Update dependency com.networknt:json-schema-validator to v1.0.66 {patch}
  gradle/libs.versions.toml
Due: none

Update dependency org.jdbi:jdbi3-sqlobject to v3.27.2 {patch}
  gradle/libs.versions.toml
Due: none

Triggering a rebuild
  gradle.properties
Due: none

Bugfix: An illegal reflective access operation has occurred: java.time.LocalDateTime.date - Adds LocalDateTimeAdapter for Gson to stop using reflective access
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/LocalDateTimeAdapter.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/ReportingHelper.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/FromTo.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/LocalDateTimeAdapterTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/ReportingHelperTest.java
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-date.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-day.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-hour.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-minute.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-month.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-nano.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-second.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-time.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-year.json
  mission-control/src/test/resources/json/date/local-date-time-valid-complex.json
  mission-control/src/test/resources/json/date/local-date-time-valid.json
Due: core

Bugfix: An illegal reflective access operation has occurred: java.time.LocalDateTime.date (#31)
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/LocalDateTimeAdapter.java
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/ReportingHelper.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/FromTo.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/LocalDateTimeAdapterTest.java
  mission-control/src/test/java/com/github/nagyesta/abortmission/core/telemetry/ReportingHelperTest.java
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-date.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-day.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-hour.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-minute.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-month.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-nano.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-second.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-time.json
  mission-control/src/test/resources/json/date/local-date-time-invalid-missing-year.json
  mission-control/src/test/resources/json/date/local-date-time-valid-complex.json
  mission-control/src/test/resources/json/date/local-date-time-valid.json
Due: core

Adjust workflows - Excludes Renovate updates from automatic releases - Creates new build to verify Main merge was successful after Renovate bump
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle-test-main.yml
  renovate.json
Due: none

Adjust workflows (#35)
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle-test-main.yml
  renovate.json
Due: none

Update spring boot to v2.6.4 {patch}
  gradle/libs.versions.toml
Due: none

Update plugin owasp-dependencycheck to v7 {patch}
  gradle/libs.versions.toml
Due: none

Update dependency com.networknt:json-schema-validator to v1.0.67 {patch}
  gradle/libs.versions.toml
Due: none

Update dependency ch.qos.logback:logback-classic to v1.2.11 {patch}
  gradle/libs.versions.toml
Due: none

Update dependency org.mockito:mockito-core to v4.4.0 {patch}
  gradle/libs.versions.toml
Due: none

Update dependency org.jdbi:jdbi3-sqlobject to v3.28.0 {patch}
  gradle/libs.versions.toml
Due: none

Update dependency gradle to v7.4.1 {patch}
  gradle/wrapper/gradle-wrapper.properties
Due: none

Fix NPE in JSON type adapter - Adds null-check to type adapter - Updates Gradle version
  .github/workflows/gradle-test-main.yml
  .github/workflows/gradle.yml
  gradle/wrapper/gradle-wrapper.properties
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/LocalDateTimeAdapter.java
Due: core

Fix NPE in JSON type adapter (#43)
  .github/workflows/gradle-test-main.yml
  .github/workflows/gradle.yml
  gradle/wrapper/gradle-wrapper.properties
  mission-control/src/main/java/com/github/nagyesta/abortmission/core/telemetry/LocalDateTimeAdapter.java
Due: core

Update spring core to v5.3.17 {patch}
  gradle/libs.versions.toml
Due: none

Update plugin owasp-dependencycheck to v7.0.1 {patch}
  gradle/libs.versions.toml
Due: none

Update dependency org.springframework.boot:spring-boot-starter-thymeleaf to v2.6.5 {patch}
  gradle/libs.versions.toml
Due: none

Update plugin spring-boot to v2.6.5 {patch}
  gradle/libs.versions.toml
Due: none

Update plugin minify to v1.3.1 {patch}
  gradle/libs.versions.toml
Due: none

Update dependency com.networknt:json-schema-validator to v1.0.68 {patch}
  gradle/libs.versions.toml
Due: none

Update spring boot to v2.6.6 {patch}
  gradle/libs.versions.toml
Due: none

Update spring core to v5.3.18 {patch}
  gradle/libs.versions.toml
Due: none
